body{
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.baner{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(img/black-and-white-canterbury-environment-2586066.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.txt-type{
    position: relative;
    left: 10%;
    top: 50%;
    color: #FDAB00;;
    font-size: 110px;
    font-weight: 800;
    text-transform: uppercase;
}
@media(max-width: 600px) {
    .txt-type{
        font-size: 60px;
    }
}

.txt{
    border-right: 2px solid #FDAB00;;
}
.section{
    padding: 50px 80px;
}
.title-section{
    text-align: center;
    margin-bottom: 15px;
}
.section-light{
    background: #f4f4f4;
}
.section-dark{
    background: #282e34;
}
.bckg-img1{
    background-image: url("img/adult-adventure-backlit-915972.jpg");
}
.bckg-img2{
    background-image: url("img/background-calm-clouds-747964\ \(1\).jpg");
}

.bckg-img{
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.form-wrapper {
    width: 100vw;
    height:100vh;
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 80%;
    height: 80%;
    background: #282e34;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.inputs, .msg {
    display: flex;
    flex-direction: column;
    width: 42%;
}

.inputs {
    margin-right: 4%;
}

.input, .btn, .input-txt {
    
    border-radius: 30px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
.input {
    padding: 20px;
}

.input-txt {
    padding: 47px 20px;
}

.input, .input-txt {
    margin-bottom: 12px;
    border: 3px solid black;

}

.btn {
    background: #FDAB00;
    cursor: pointer;
    padding: 20px;
    border: 3px solid black;
}
.btn:hover, .btn:focus {
    background: #98893a;
    transition: background-color 2s ease-out;
}
.input:focus, .input-txt:focus, .btn:focus {
    width: 80%;
    border: 3px solid #FDAB00;
}

#wrapper {
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
}

.layer {
    overflow: hidden;
}

.layer, .content-wrap {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
}

.content-body {
    width: 25%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.layer img {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    background: #282e34;
    z-index: 1;
}

.bottom .content-body {
   right: 5%; 
   color: #f4f4f4;
}

.top {
    background: #f4f4f4;
    z-index: 2;
    width: 50vw;
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.top .content-body {
    left: 5%;    
}

.handle {
    position: absolute;
    height: 200%;
    display: block;
    background: #FDAB00;
    width: 5px;
    left: 50%;
    z-index: 3;
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    transform-origin: top;
}

.top .content-wrap { 
    transform: skew(30deg);
    margin-left: 1000px;
}


@media(max-width: 768px) {
    .form {
        flex-direction: column;
    }
    .inputs {
        margin-right: 0;
    }

    .inputs, .msg {
        width: 80%;
    }
   
}